*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #E5CFCE, #FFFFFF)
}

.nav-bar{
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-bar img{  
    width: 40%;
    height: 40%;
    padding-top: 1.5rem;
    z-index: 1;
}

.imagem-site img{
    border-radius: 50% 50% 0 0;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: -100px;
    z-index: 0;
}

.btn{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1.5rem;
}

button img {
    width: 1.3rem;
    height: 1.3rem;
    display: inline-flex;
    align-items: center;
    gap: 8px;

    border-radius: 50%;
   
    object-fit: contain;
}

button{
    display: flex;
    background-color: #C79CA3;
    color: #fff;
    align-items: center;
    text-align: center;
    gap: 0.75rem;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.75rem 1.5rem;
    border-radius: 1.2rem;
    width: 40%;
    justify-content: center;
}

button:hover {
    box-shadow: 0 10px 15px -3px #6666664f, 0 4px 6px -2px #6b6b6b17;
    transition: all 0.30s ease;
}

a{
    text-decoration: none;
    color: #fff;
}

.redes{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 4rem;
    gap: 1rem;
}

@media (min-width: 280px) and (max-width:800px){
    .nav-bar img{  
        width: 90%;
        height: 90%;
    }

    button{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 0.75rem;
        font-size: 1rem;
        font-weight: 500;
        padding: 0.75rem 1.5rem;
        border-radius: 1.2rem;
        width: 70%;
    }

    .btn{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .imagem-site img{
        width: 45%;
        height: 45%;
        margin-top: -30px;
    }
}
